.main{
    width: 100%;
    background: #f3f3f3;
}
.main1{
    padding-top: 20px;
    padding-bottom: 20px;
    width: 1000px;
    margin: 0 auto;
    font-size: 15px;
}
.main a{
    font-size: 15px;
}
.main2{
    width: 1000px;
    margin: 0 auto;
    background-color: white;
    position: relative;
}
.main2-1{
    width: 705px;
    margin-left: 30px;
}

.main2-1 p{
    width: 650px;
    font-size: 16px;
    line-height: 25px;
    margin-top: 10px;
    margin-bottom: 15px;
}
.main2-1 h1{
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.one{
    width: 700px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid grey;
}
.one ul li{
    float: left;
}
.one ul li:nth-of-type(2){
    margin-left: 5px;
    margin-top: 3px;
    font-size: 14px;
}
.one ul li:last-of-type{
    margin-left: 580px;
    margin-top: 3px;
    font-size: 14px;
}
h3{
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 20px;
    text-align: center;
}
h5{
    font-size: 15px;
}
.h4-1{
    margin-top: 50px;
    margin-bottom: 20px;
}
h4{
    font-size: 15px;
    color: gray;
}
.aside{
    width: 280px;
    position: absolute;
    top: 100px;
    right: -40px;
}
.aside ul li{
    float: left;
    width: 117px;
    height: 110px;
    border: 1px solid grey;
    text-align: center;
    
}
.aside img{
    margin-top: 40px;
    margin-left: 40px;
}
.aside p{
    margin-top: 10px;
}

div.tabcut h1{
    font-size: 40px;
    text-align: center;
}
div.tabcut ul{
    width: 495px;
    margin: 0px auto;
}
div.tabcut ul li{
    float: left;
    width: 165px;
    height: 33;
    font-size: 17px;
    text-align: center;
    margin-top: 30px;
}
.act111{
    border-bottom: 4px solid #FD5238;
}
.ul_{
    width: 1000px;
    margin: 0px auto;
    margin-top: 20px;
}
.ul_>li{
    width: 220px;
    margin-right: 20px;
    float: left;
    height: 245px;
}
.ul_>li>img{
    width: 219px;
    border-radius: 5px 5px 0px 0px;
}
.ul_>li>div.xuanran>p:nth-child(1){
    font-size: 12px;
    font-weight: 900;
    line-height: 30px;
}
.ul_>li>div.xuanran>p:nth-child(2)>span:nth-child(1){
    color: #F9434F;
}
.ul_>li>div.xuanran>p:nth-child(2)>span:nth-child(2){
    padding-left: 16px;
    width: 15px;
    float: right;
    margin:0px 10px;
    background: url(../img/css/img/xin.png) no-repeat 0px 1px;
}
.ul_>li>div.xuanran>p:nth-child(2)>span:nth-child(3){
    padding-left: 15px;
    width: 9px;
    float: right;
    margin:0px 10px;
    background: url(../img/css/img/reply.png) no-repeat 0px 0px;
}
.dingwei{
    width: 100%;
    position: relative;
}
.ZCindex{
    display: none;
}










